@font-face {
	font-display: swap;
	font-family: "Montserrat";
	font-style: normal;
	font-weight: 500;
	src: url(/fonts/montserrat-v25-latin-500.woff2) format("woff2");
}
@font-face {
	font-display: swap;
	font-family: "Montserrat";
	font-style: normal;
	font-weight: 700;
	src: url(/fonts/montserrat-v25-latin-700.woff2) format("woff2");
}
@font-face {
	font-display: swap;
	font-family: "Fraunces";
	font-style: normal;
	font-weight: 700;
	src: url(/fonts/fraunces-v30-latin-700.woff2) format("woff2");
}

:root {
	/* colors */
	--clr-primary-800: hsl(158, 36%, 20%);
	--clr-primary-600: hsl(158, 36%, 37%);
	--clr-primary-200: hsl(30, 38%, 92%);

	--clr-neutral-900: hsl(212, 21%, 14%);
	--clr-neutral-400: hsl(228, 12%, 48%);
	--clr-neutral-100: hsl(0, 0%, 100%);

	/* typography */
	--ff-primary: "Montserrat", serif;
	--ff-accent: "Fraunces", sans-serif;

	--fs-600: calc(var(--fs-400) * 2.15);
	--fs-400: 0.875rem;
	--fs-300: calc(var(--fs-400) * 0.9);
	--fs-200: calc(var(--fs-400) * 0.8);

	--fw-regular: 500;
	--fw-bold: 700;

	--lh-regular: calc(1em + 0.6rem);
}

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
}

/* general styles */
body {
	font-family: var(--ff-primary);
	font-weight: var(--fw-regular);
	font-size: var(--fs-400);
	color: var(--clr-neutral-400);
	line-height: var(--lh-regular);
	background-color: var(--clr-primary-200);
	min-height: 100vh;
	min-height: 100dvh;
	display: grid;
	place-content: center;
}

/* product styles */
.product {
	--max-content-width: 36rem; /* 576px */
	--max-column-width: min((var(--max-content-width) / 2) - var(--gap), 100%);
	--base-border-radius: 0.75rem;
	--gap: 1.25rem;

	margin: var(--gap);
	background-color: var(--clr-neutral-100);
	border-radius: var(--base-border-radius);
	overflow: hidden;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(var(--max-column-width), 1fr));
	max-width: var(--max-content-width);
}

.product__img > img {
	max-width: 100%;
	min-height: 100%;
	object-fit: cover;
	filter: contrast(120%) brightness(0.9) saturate(90%);
}

.product__body {
	display: grid;
	place-content: center;
	padding: clamp(1.35rem, 5vmin, 1.9rem);
	gap: clamp(1rem, 5vmin, 1.5rem);
}

.product__type {
	text-transform: uppercase;
	letter-spacing: 5px;
	font-size: var(--fs-200);
	line-height: 1;
	margin-top: 0.25rem;
}

.product__title {
	color: var(--clr-neutral-900);
	line-height: 1;
}

.product__price {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	gap: var(--gap);
	margin-block: 0.25rem;
}

.product__new-price {
	color: var(--clr-primary-600);
}

.product__old-price {
	font-size: var(--fs-300);
	text-decoration: line-through 1px;
}

/* button */
.btn {
	font: inherit;
	border: none;
	cursor: pointer;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	gap: 0.66rem;
	border-radius: calc(var(--base-border-radius) * 0.75);
	text-decoration: none;
	padding: 0.7rem 1.5rem;
	color: var(--clr-neutral-100);
	background-color: var(--clr-primary-600);
	font-weight: var(--fw-bold);
	font-size: var(--fs-400);
	outline: none;
	transition: background-color 0.15s;
	min-width: max-content;
}

.btn:is(:hover, :focus) {
	background-color: var(--clr-primary-800);
}

.shopping-cart::before {
	content: "";
	width: 15px;
	height: 16px;
	background-image: url(/images/icon-cart.svg);
}

/* utilities */
.font-accent-lg {
	font-size: var(--fs-600);
	font-family: var(--ff-accent);
}

.sr-only,
.sr-only-focusable:not(:focus):not(:focus-within) {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	white-space: nowrap;
	border: 0;
}
